<%- include('../partials/header') %>
<div id="hobbit-hole">
    <img src="images/hobbit-hole.jpeg">
</div>
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Country</th>
        <th>Language</th>
        <th>Publisher</th>
        <th>Publication<br>Date</th>
        <th>Pages</th>
        <th></th>
      </tr>
    </thead>
    <form id="search-form" action="/search" method="GET">
      <label>Title</label>
      <input type="text" name="title">
      <label>Author</label>
      <input type="text" name="author">
      <input type="submit" value="search">
    </form>
    <tbody>
      <% books.forEach(function(b) { %>
        <tr>
          <% console.log(b._id) %>
          <td><%= b.title %></td>
          <td><%= b.author %></td>
          <td><%= b.country %></td>
          <td><%= b.language %></td>
          <td><%= b.publisher %></td>
          <td><%= b.publicationDate %></td>
          <td><%= b.pages %></td>
          <td><a href="/books/<%= b._id %>">DETAILS</a></td>
          <% if(user) { %>
          <td><a href="/books/<%= b._id %>/edit">EDIT</a></td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>

    </table>
<%- include('../partials/footer') %>