<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= book.title %></div>
    <div>Author: </div>
    <div><%= book.author %></div>
    <div>Country: </div>
    <div><%= book.country %></div>
    <div>Language: </div>
    <div><%= book.language %></div>
    <div>Publisher: </div>
    <div><%= book.publisher %></div>
    <div>Publication Date: </div>
    <div><%= book.publicationDate %></div>
    <div>Pages: </div>
    <div><%= book.pages %></div>
    
  </section>

<%- include('../partials/footer') %>